body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar .cont{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    list-style-type: none;
    padding-right: 130px;
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu li a{
    display: inline-block;
    color: black;
    opacity: 0.5;
    text-decoration: none;
    padding-left: 150px;
    transition: all .1s ease-in-out;
    font-size: 20px;
    font-weight: bold;
}
.navbar-menu li a:hover{
    opacity: 1;

}

.navbar-logo{
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    color: black;
    padding-left: 130px;
    transition: all .2s ease-in-out;
}

.navbar-logo:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
   
}

h1{
    text-align: center;
    padding-top: 30px;
}
.img1{
    width: 100%;
    display: flex;
    align-items: center;
}
.left-col{
    flex:1;
    text-align: center;
}

.left-col .lc{
    font-weight: bold;
    font-size: 27px;
}

.left-col img{
    width: 500px;
    padding: 40px 100px;
}
.abil{
    word-spacing: 30px;
    font-size: 12px;
}

.right-col{
    flex:2;
}

.mainlc{
    font-size: 18px;
}



